@model IEnumerable<EscrowCore.Models.Escrow>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ContractAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SellerAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BuyerAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EscrowHolderAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TransactionHash)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ContractAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellerAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuyerAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EscrowHolderAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionHash)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
