@model EscrowCore.Models.VM.DeployContractVM
    @{
        Layout = null;
    }

<h4>Deploy Contract</h4>
<hr />


    <div class="row">
        <div class="col-md-12">
             
            @{ 
//var NetworkTypes = Enum.GetNames(typeof(Network)).ToList();
//SelectList NetworkList = new SelectList(NetworkTypes, "Value", "Text", "Selected");         



                <div id="NetworkSelect" class="form-group">
                    <label asp-for="@Model.Network" class="control-label"></label>
                    <select asp-for="@Model.Network" onchange="callNetworkChange()" class="form-control">
                        <option id="ganache" value="0">Ganache</option>
                        <option id="ropsten" value="1">Ropsten</option>

                    </select>
                                  
                      
               
                </div>
            } 
                <div class="form-group">
                    <label asp-for="@Model.SellerAddress" class="control-label"></label>
                    <input asp-for="@Model.SellerAddress" class="form-control" />
                    <span asp-validation-for="@Model.SellerAddress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.BuyerAddress" class="control-label"></label>
                    <input asp-for="@Model.BuyerAddress" class="form-control" />
                    <span asp-validation-for="@Model.BuyerAddress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.EscrowHolderAddress" class="control-label"></label>
                    <input asp-for="@Model.EscrowHolderAddress" class="form-control" />
                    <span asp-validation-for="@Model.EscrowHolderAddress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.EtherToPay" class="control-label"></label>
                    <input asp-for="@Model.EtherToPay" class="form-control" />
                    <span asp-validation-for="@Model.EtherToPay" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.GasLimit" class="control-label"></label>
                    <input asp-for="@Model.GasLimit" class="form-control" />
                    <span asp-validation-for="@Model.GasLimit" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.ExpiryDate" class="control-label"></label>
                    <input asp-for="@Model.ExpiryDate" class="form-control" />
                    <span asp-validation-for="@Model.ExpiryDate" class="text-danger"></span>
                </div>            
                <br/>                              
        </div>
    </div>

