@model IEnumerable<EscrowCore.Models.Escrow>

    <script type="text/javascript">

        function getReceipt(txHash) {

            //var contract = {};
            console.log(txHash);
            var id = txHash;
            $.ajax({
                type: "Get",
                url: "/Contract/PollReceipt/" + id,

                success: function (response) {
               
                    $('#partialReceipt').show();
                    var receipt = $('#partialReceipt').html(response);
                    $('#txHashReceipt').html(id);
                    var List = GetList();
                    console.log(List);
                },
                failure: function (response) {
                    alert(response);
                },
                error: function (response) {
                    alert(response);
                }
            });

        }

    </script>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Network)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().TransactionHash)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.Reverse())
        {
            <tr>
                <td>
                    <div id="@item.TransactionHash" onclick="getReceipt(this.id)" class="">
                        <p>@((Network)item.Network)</p>
                    </div>
                </td>
                <td>
                    <div id="@item.TransactionHash" onclick="getReceipt(this.id)" class="">
                        <p>@item.TransactionHash</p>
                    </div>
                </td>
               
                <td>

                    @Html.ActionLink("Details", "Details", "Contract", new { id = item.ID }, null) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    </tbody>
</table>
