@model EscrowCore.Models.Escrow

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Escrow</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Network)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Network)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Receipt.ContractAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Receipt.ContractAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SellerAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SellerAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BuyerAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BuyerAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EscrowHolderAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EscrowHolderAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TransactionHash)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TransactionHash)
        </dd>
    </dl>
</div>
<div>

    <a asp-action="Index">Back to List</a>
</div>