@model EscrowCore.Models.VM.ContractVM
@using Newtonsoft.Json;
@{
    ViewData["Title"] = "Escrow";
}


<br />

<div class="row">
    <div class="col-sm-6">
        <form>
            @Html.AntiForgeryToken()
            <div id="deploy">
                @Html.Partial("~/Views/Home/_DeployContract.cshtml", Model.DeployContractVM)
            </div>
            <div class="row">
                <div class="col-sm-12">

                    <input type="button" id="btnDeploy" value="Deploy" class="btn btn-primary col-sm-3" />
                    <div id="GasPrice" class="col-sm-5"></div>
                </div>
            </div>
        </form>
        <br />

    </div>

    <div id="partialReceipt" class="col-sm-4">

        @Html.Partial("~/Views/Home/_Receipt.cshtml", Model.Receipt)

    </div>

</div>

 
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- dialog body -->
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                TxHash:
                <div id="modalText">

                </div>
            </div>
            <!-- dialog buttons -->
            <div class="modal-footer"><input id="btnPollReceipt" type="button" value="Get Receipt" class="btn btn-primary"></div>
        </div>
    </div>        
</div>


<div class="row">
    <div class="col-sm-6">
        @Html.ActionLink("Delete All", "DeleteAlltxs", "Contract", null, new { @class = "btn btn-default col-sm-3" })
        </div>
    </div>
        <div class="row">

            <div id="ListView">
                @Html.Partial("~/Views/Home/_ListContracts.cshtml", Model.ContractList)
            </div>

        </div>
        @section scripts{

            <script>

        $(function () {
            if ($('@Model.Receipt.ContractAddress' == null))
            {
                $('#partialReceipt').hide();

            }
            
            $('#Network').on('change', callNetworkChange());

            $("#myModal").on("hide", function () {    // remove the event listeners when the dialog is dismissed
                $("#myModal a.btn").off("click");
            });

            $("#myModal").on("hidden", function () {  // remove the actual elements from the DOM when fully hidden
                $("#myModal").remove();
            });

            $("#myModal").modal({                    // wire up the actual modal functionality and show the dialog
                "backdrop": "static",
                "keyboard": true,
                "show": false                     // ensure the modal is shown immediately
            });

           


            $('#btnDeploy').on('click', function () {

                var dataModel = $('form').serialize();
                $('#partialReceipt').hide();
                  

                $.ajax({
                    type: "POST",
                    url: "/Contract/DeployContract/",
                    traditional:true,
                    beforeSend: function (xhr) {
                           xhr.setRequestHeader("XSRF-TOKEN",
                               $('input:hidden[name="__RequestVerificationToken"]').val());
                       },
                    data:  dataModel
                    ,
                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    dataType: "json",
                    success: function (response) {
                        GetList();
                       
                        $('#modalText').html(response);
                        //$(document.body).removeClass('jarallax');
                        $('#myModal').modal({backdrop: 'static'},'show');
                        
                        //$(document.body).removeClass('modal-backdrop fade in');
                        //$('.container .body-content').addClass('modal-open');
                        //$('.container .body-content').addClass('modal-backdrop fade in');
                        //$().add('#myModal');
                        //$(document).addClass('jarallax');
                       },
                    failure: function (response) {
                           alert(response);
                       }
                   });
            })

            $('#btnPollReceipt').on('click', function () {


                $('#myModal').modal('hide');
                @*console.log(JSON.stringify(@dataModel));*@
                // var dataModel = $('@Model.Receipt');
                var hash = $('#modalText').html();
                

                callGetReceiptPartial(hash);
                

            })



        });//ready


        function GetList() {
            $.ajax({
                type: "GET",
                url: "/Contract/GetListView/",
                traditional: true,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                success: function (response) {

                    $('#ListView').html(response);

                },
                failure: function (response) {
                    alert(response);
                }
            });
        }
        function callGetReceiptPartial(hash) {
            var id = hash;
            $.ajax({
                type: "GET",
                url: "/Contract/PollReceipt/" + id,
                traditional: true,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },


                contentType: "application/x-www-form-urlencoded; charset=UTF-8",

                success: function (response) {
                    $('#partialReceipt').show();
                    var receipt = $('#partialReceipt').html(response);
                    $('#txHashReceipt').html(hash);
                    GetList();
                    
                },
                failure: function (response) {
                    alert(response);
                }
            });

        }
        function UpdateGasPrice()
        {
            var dataModel = $('form').serialize();
            $.ajax({
                type: "POST",
                url: "/Contract/ShowEstimatedGasPrice/",
                traditional: true,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                data: dataModel,
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                dataType: "json",
                success: function (response) {

                   $('#GasPrice').html("<strong>Estimated Gas Usage: </strong>"+response+ " Wei")
                },
                failure: function (response) {
                    alert(response);
                }
            });


         }
        function callNetworkChange() {
            var id = document.getElementById("Network").value;

            console.log(id);

            $.ajax({
                type: "GET",
                url: "/Home/ChangeNetwork/" + id,
                traditional: true,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                success: function (response) {
                    
                    $('#deploy').html(response);
                    UpdateGasPrice(id);
                    
                },
                failure: function (response) {
                    alert(response);
                }

            });


        }
            </script>
        }



