@model EscrowCore.Models.VM.ContractVM
@using Newtonsoft.Json;
@{
    ViewData["Title"] = "Escrow";
}


<br />

<div class="row">
    <div class="col-sm-6">
        <form>
            @Html.AntiForgeryToken()
            <div id="deploy">
                @Html.Partial("~/Views/Home/_DeployContract.cshtml", Model.DeployContractVM)
            </div>
            <input type="button" id="btnDeploy" value="Deploy" class="btn btn-primary col-sm-3" />
        </form>
        <br />

    </div>

    <div id="partialReceipt" class="col-sm-4">

        @Html.Partial("~/Views/Home/_Receipt.cshtml", Model.Receipt)

    </div>

</div>
<div class="row">
    <br />
    <br />
    <div>
        <p id="txHash"></p>
    </div>
</div>
<div class="row">
    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- dialog body -->
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    TxHash:
                    <div id="modalText" data->

                    </div>
                </div>
                <!-- dialog buttons -->
                <div class="modal-footer"><input id="btnPollReceipt" type="button" value="Get Receipt" class="btn btn-primary"></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        @Html.ActionLink("Delete All", "DeleteAlltxs", "Contract", null, new { @class = "btn btn-default col-sm-3" })
        </div>
    </div>
        <div class="row">

            <div id="ListView">
                @Html.Partial("~/Views/Home/_ListContracts.cshtml", Model.ContractList)
            </div>

        </div>
        @section scripts{

            <script>

        $(function () {
            if ($('@Model.Receipt.ContractAddress' == null))
            {
                $('#partialReceipt').hide();

            }
            
            $('#Network').on('change', callNetworkChange());

            $("#myModal").on("hide", function () {    // remove the event listeners when the dialog is dismissed
                $("#myModal a.btn").off("click");
            });

            $("#myModal").on("hidden", function () {  // remove the actual elements from the DOM when fully hidden
                $("#myModal").remove();
            });

            $("#myModal").modal({                    // wire up the actual modal functionality and show the dialog
                "backdrop": "static",
                "keyboard": true,
                "show": false                     // ensure the modal is shown immediately
            });

            var GetList = function ()
            {
                $.ajax({
                    type: "GET",
                    url: "/Contract/GetListView/",
                    traditional: true,
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("XSRF-TOKEN",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    success: function (response) {
                        console.log(response);
                        $('#ListView').html(response);

                    },
                    failure: function (response) {
                        alert(response);
                    }
                });


            }


            $('#btnDeploy').on('click', function () {

                var dataModel = $('form').serialize();

                   console.log(dataModel);

                $.ajax({
                       type: "POST",
                    url: "/Contract/DeployContract/",
                    traditional:true,
                    beforeSend: function (xhr) {
                           xhr.setRequestHeader("XSRF-TOKEN",
                               $('input:hidden[name="__RequestVerificationToken"]').val());
                       },
                    data:  dataModel
                    ,
                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    dataType: "json",
                    success: function (response) {
                           console.log(response);
                        $('#modalText').html(response);
                        $('#txHash').html("txHash: "+response);
                        $('#myModal').modal('show');
                       },
                    failure: function (response) {
                           alert(response);
                       }
                   });
            })

            $('#btnPollReceipt').on('click', function () {


                $('#myModal').modal('hide');
                @*console.log(JSON.stringify(@dataModel));*@
                // var dataModel = $('@Model.Receipt');
                var hash = $('#modalText').html();
                console.log(hash);

                callGetReceiptPartial(hash);


            })



        });//ready
                function callGetReceiptPartial(hash) {
                    var id = hash;
                    $.ajax({
                        type: "GET",
                        url: "/Contract/PollReceipt/" + id,
                        traditional: true,
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("XSRF-TOKEN",
                                $('input:hidden[name="__RequestVerificationToken"]').val());
                        },


                        contentType: "application/x-www-form-urlencoded; charset=UTF-8",

                        success: function (response) {
                            $('#partialReceipt').show();
                            var receipt = $('#partialReceipt').html(response);
                            var List = GetList();
                            console.log(List);
                        },
                        failure: function (response) {
                            alert(response);
                        }
                    });

                }
                function callNetworkChange() {
                    var id = document.getElementById("Network").value;

                    console.log(id);



                    $.ajax({
                        type: "GET",
                        url: "/Home/ChangeNetwork/" + id,
                        traditional: true,
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("XSRF-TOKEN",
                                $('input:hidden[name="__RequestVerificationToken"]').val());
                        },
                        contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                        success: function (response) {
                            // console.log(response);

                            $('#deploy').html(response);
                            // $('#Network').on('input', callNetworkChange());

                        },
                        failure: function (response) {
                            alert(response);
                        }

                    });


                }
            </script>
        }



